<!DOCTYPE html>
<html>
<head>
    <title>Gráfico de Evolução de Empreendimentos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>Evolução temporal do total mensal de Empreendimentos por Estado e por Classe de Consumo</h3>   

    <canvas id="grafico"></canvas>

    <script>
        fetch('/dados_grafico')
            .then(response => response.json())
            .then(data => {
                const labels = data.labels;
                const datasets = data.datasets;

                const ctx = document.getElementById('grafico').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Total de Empreendimentos'
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 20
                                    }
                                }
                            }
                        }
                    }
                });
            });
    </script>
</body>
</html>
