<!DOCTYPE html>
<html>
<head>
    <title>Gráfico de Correlação</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>Correlação de Potência instalada por Porte/Fonte geradora</h3>

    <canvas id="grafico"></canvas>

    <script>
        fetch('/dados_grafico3')
            .then(response => response.json())
            .then(data => {
                const labels = data.labels;
                const datasets = data.datasets;

                const ctx = document.getElementById('grafico').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Porte/Fonte da Geração'
                                }
                            },
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Potência Instalada Total (KW)'
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 20
                                    }
                                }
                            }
                        }
                    }
                });
            });
    </script>
</body>
</html>
